{% extends 'meetups/base/base.html' %}

{% load static %}

{% block title %} 
	Meetup created succesfully!
{% endblock %}

{% block site_css %}
<link rel="stylesheet" href="{% static 'meetups/styles/registration-confirmation.css' %}">
{% endblock %}

{% block main_heading %}
	Congratulations meetup created!
{% endblock %}

{% block body %}
	<section id="confirmation">
		<h2>Meetup created sucessfully!</h2>
		<p>Congratulations meetup created - add participants</p>
		<p>Got questions or can't make it? Please <a href="mailto:{{ organizer_email }}">contact the organizer</a> ahead of time!</p>
	</section>

	<section id="continue">
		<p>Of course you can sign up for more than one meetup!</p>
		<p><a href="/meetups" class="btn">Explore out Meetups</a></p>
	</section>
{% endblock %}