{% extends 'meetups/base/base.html' %}

{% load static %}

{% block title %} 
	Meetup edited succesfully!
{% endblock %}

{% block site_css %}
<link rel="stylesheet" href="{% static 'meetups/styles/registration-confirmation.css' %}">
{% endblock %}

{% block main_heading %}
	Congratulations meetup updated!
{% endblock %}

{% block body %}

	{% if success%}
		<section id="confirmation">
			<h2>Meetup edited sucessfully!</h2>
			<p>Congratulations meetup edited</p>
			<p>Got questions or can't make it? Please <a href="mailto:{{ organizer_email }}">contact the organizer</a> ahead of time!</p>
		</section>

		<section id="continue">
			<p>Of course you can sign up for more than one meetup!</p>
			<p><a href="/meetups" class="btn">Explore out Meetups</a></p>
		</section>
	{% else %}
		<section id="confirmation">
			<h2>Sorry the update failed!</h2>
			<p>Sorry meetup was not edited</p>
			<p>Got questions or can't make it? Please <a href="mailto:{{ organizer_email }}">contact the organizer</a> ahead of time!</p>
		</section>

		<section id="continue">
			<p>Of course you can sign up for more than one meetup!</p>
			<p><a href="/meetups" class="btn">Explore out Meetups</a></p>
		</section>
	{% endif %}
{% endblock %}