{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All meetups</title>
    <link rel="stylesheet" href="{% static 'meetups/styles/base.css' %}">
</head>
<body>
    <header>
        <nav><a href="/meetups">DjangoMeetups</a></nav>
        <h1>We got great meetups caming up!</h1>
        <p>Find the one the best suits your needs!</p>
    </header>
    <main>
        <section>
            <h2>Upcoming Meetups</h2>
            <ol>
                {% for meetup_item in meetups %}
                    <li class="meetup-item">
                        <article>
                            <div class="meetup-sumary">
                                <img src="">
                            </div>
                            <div class="meetup-ditails">
                                <h3>{{meetup_item.title}}</h3>
                                <address>{{ meetup_item.location}}</address>
                            </div>
                        </article>
                    </li>
                {% endfor %}
            </ol>
        </section>
    </main>
</body>
</html>