{% extends 'meetups/base/base.html' %}

{% load static %}
{% block title %}All eetups{% endblock %}

{% block site_css %}

<link rel="stylesheet" href="{% static 'meetups/styles/all-meetups.css' %}">
<link rel="stylesheet" href="{% static 'meetups/styles/modal.css' %}">

{% endblock %}


{% block main_heading %}
    We got great meetups caming up!
{% endblock %}

{% block header_content %}
    Find the one the best suits your needs!
{% endblock %}

{% block body %}



{% include 'meetups/includes/meetup-modal.html' %}
<section>
    <h2>Upcoming Meetups</h2>

    <button class="plus-button" onclick="showModal()"></button>
    <ol>
        {% for meetup_item in meetups %}
            {% include 'meetups/includes/meetup-item.html' with image=meetup_item.image.url title=meetup_item.title  location=meetup_item.location slug=meetup_item.slug%}
        {% endfor %}
    </ol>
</section>


{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'meetups/scripts/script.js' %}"></script>
{% endblock %}



